body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
    background-color: #e3ffee;
}

@layer menu{
    nav{
        background-color: #164c22;
        padding: 10px;
        margin: 10px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: aliceblue;
        border-radius: 15px;
        border: 2px solid #11391a;
        box-shadow: 5px 5px 10px #000000;
    }

    nav a{
        color: white;
        margin: 0 10px;
        text-decoration: none;
        font-weight: bold;
    }

    img.logo{
        margin: 5px;
        margin-left: 15px;
        border-radius: 20px;
        width: 50px;
        height: 50px;
    }
}

@layer principal{
    
    .contenido {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 8px;
    }

    .contenido img{
        border: rgb(175, 175, 175) 2px;
    }
        
    .novedades {
        grid-column: span 4 / span 4;
        padding: 15px 10px 10px 20px;
    }

    .promo {
        grid-row: span 4 / span 4;
        grid-column-start: 5;
        padding: 15px 5px 15px 15px;
    }

    .productos {
        grid-column: span 4 / span 4;
        grid-row: span 3 / span 3;
        grid-row-start: 2;
        position: relative;
        padding: 5px 10px 10px 50px;
    }

    .novedades img,.promo img{
        border-radius: 10px;
        box-shadow: 0 4px 10px #1110104d;
        transition: transform 0.3s;
    }

    .novedades img:hover,.promo img:hover{
        transform: scale(1.01);
    }

    .productos img{
        border-radius: 10px;
        box-shadow: 0 4px 10px #00000026;
        transition: transform 0.3s;
    }

    .productos img:hover{
        transform: scale(1.02);
    }
    
    footer{
        grid-column: span 5 / span 5;
        grid-row-start: 5;
        background-color: #164c22;
        padding: 0;
    }
}

