body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0f4e4;
 } 
@layer menu {
    nav{
        background-color: #164c22;
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: aliceblue;
        border-radius: 15px;
        border: 2px solid #11391a;
        box-shadow: 5px 5px 10px #000000;
        height: 55px;
    }

    nav a{
        color: #e4ffd8;
        margin: 0 10px;
        text-decoration: none;
        font-weight: bold;
    }

    img.logo{
        position: relative;
        margin: 5px;
        margin-left: 1px;
        padding-top:5px ;
        border-radius: 20px;
        width: 60px;
        height: 60px;
    }
}


