body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}

@layer menu{
    nav{
        background-color: #164c22;
        padding: 10px;
        margin: 10px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: aliceblue;
        border-radius: 15px;
        border: 2px solid #11391a;
        box-shadow: 5px 5px 10px #000000;
    }

    nav a{
        color: white;
        margin: 0 10px;
        text-decoration: none;
        font-weight: bold;
    }

    img.logo{
        margin: 5px;
        margin-left: 15px;
        border-radius: 20px;
        width: 50px;
        height: 50px;
    }
}

@layer principal{
    
    .contenido {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 8px;
    }
        
    .novedades {
        grid-column: span 4 / span 4;
        padding: 15px 10px 10px 20px;
    }

    .promo {
        grid-row: span 5 / span 5;
        grid-column-start: 5;
        padding: 15px 5px 15px 15px;
    }

    .productos {
        grid-column: span 4 / span 4;
        grid-row: span 4 / span 4;
        grid-row-start: 2;
        position: relative;
        padding: 5px 10px 10px 50px;
    }
            
}

